*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: gold;
    color: black;
}

main{
    background-color: purple;
    color: white;
}

footer{
    background-color: gold;
    color: black;
}

img{
    margin-left: 50px;
}