@media (min-width: 800px) {


#menu {
    display: none;
}

.hero-text{
    margin-right: 200px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    flex: 0 1 24%;

}








    
}