@media (min-width: 1000px) {


    #menu {
        display: none;
    }

.hero-text{
    margin-right: 200px;
}

.hero-image picture {
    width: 100%;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
}








    
}