@media (max-width: 430px) {


.navigation li a {
    float: left;
    text-align: center;
    margin-right: 100px;
}

.hero-text{
    margin-left: -40px;
}

.navigation {
    margin-right: 60px;
    
}

.cards{
    
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
    margin-top: 20px;
    
    
    
}

.card{
    margin-top: 20px;
    margin-right: 75px;
    border-radius: 10px;
    
}



.cards ul li {
    margin-left: -50px;
}

footer ul li {
    margin-right: 70px;
}
footer p{
    margin-right: 80px;
}
}