@media (max-width: 700px) {

    main{
        display: grid;
    }

.navigation li a {
    float: left;
    text-align: center;
    margin-right: 100px;
}


.hero picture {
    width: 100%;
    height: auto;

}

.hero img {
    width: 100%;
    height: auto;

}

}


.hero {
   grid-column-start: 1;
   grid-column-end: 4;
}
.hero picture {
    grid-template-columns: max-content;
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.hero-text button{
    font-size: 15px;
}

.navigation {
    margin-right: 30px;
    
}

.cards{
    
    width: 100%;
    display: grid;
    grid-row: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
    
}

.hero-image picture {
    width: 100%;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 200px auto;
    margin-bottom: 10px;
  }

