@media (max-width: 700px) {


.navigation li a {
    float: left;
    text-align: center;
    margin-right: 100px;
}

.hero-text{
    margin-left: -40px;
    font-size: 8px;
}

.hero-text button{
    font-size: 15px;
}

.navigation {
    margin-right: 30px;
    
}

.cards{
    
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    
    
    
}

.card{
    margin-top: 20px;
    margin-right: 45px;
    border-radius: 10px;
    
}



.hero-image picture {
    width: 100%;
    height: auto;
}

.hero-image img {
    width: 100%;
    height: auto;
}



}