body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

header {
    background-color: #a1ecff;
    color: #333;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid;
    border-color: #ff8c00;

}

#mode {
	position: absolute;
	top: -1px;
	left: 1rem;
	font-size: 2rem;
	cursor: pointer;
    
}

header h2{
    font-size: 1.5rem;
}

nav {
    width: 200px;
    background-color: #333;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: large;
 


    
    
}

nav a {
    text-decoration: none;
    color: #333;
    background-color: #ff8c00;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: #ff8c00;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-right: solid;

}

nav a:hover {
    background-color: #f6d7b0;
    color: black;
}

.content {
    margin-left: 260px;
    padding: 20px;
    margin-bottom: 50px;
}

section {
    background-color: #a1ecff;
    font-size: large;
    color: #333;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}

ul {
    list-style-type: none;
}


.hero-image img{
    
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
    
    
}

footer {
    background-color: #a1ecff;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-top: solid;
    border-color: #ff8c00;
}

.reserve-button {
    background-color: #ff8c00;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    
}

.reserve-button:hover {
    background-color: orangered;
}

#weather-alert {
    display: none;
    background-color: #ff8c00;
    color: black;
    padding: 10px;
    text-align: center;
}

#close-btn {
    cursor: pointer;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #a1ecff;
}


form {
    max-width: 600px;
    margin: 20px auto;
    color: #a1ecff;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #a1ecff;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightseagreen;
}

.container {
    display: block;
    text-align: center;
}

.rental-info{
    text-align: center;
    color: #a1ecff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #a1ecff;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #a1ecff;
    color: black;
}

.content h1{
    color: #333;
}
section h1{
    color: #333;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}